api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/api.csproj.nuget.dgspec.json
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.assets.cache
api/creligens-firebase-adminsdk-fbsvc-42ca7744ef.json
api/obj/api.csproj.nuget.dgspec.json
